aiobotocore
aiohttp
aioitertools
async-timeout
attrs
boto3
botocore
certifi
chardet
colorama
dnslib
dnspython
docopt
docutils
feather-format
fsspec
geographiclib
geopy
idna
jmespath
locket
multidict
numpy
pandas
partd
pyaes
pyarrow
pyasn1
python-dateutil
pytz
PyYAML
requests
rsa
s3fs
s3transfer
six
toolz
typing-extensions
urllib3
wrapt
yarl
